<footer>
    <img class ="footer-logo" src="/Assets/logo_blanc.png" alt="Mr.Coffee logo in white" />
    <div class ="social-media">
       <p>Suivez nous sur les réseaux sociaux !</p>
       <a href="https://linkedin.com/" target="_blank">
         <img src="/Assets/logo_linkedin.png" alt="LinkedIn logo" />
       </a>

       <a href="https://www.twitter.com" target="_blank">
         <img src="/Assets/logo_twitter.png" alt="Twitter Logo" />
       </a>

       <a href="https://www.facebook.com/" target="_blank">
         <img src="/Assets/logo_facebook.png" alt="Facebook Logo" />
       </a>
     </div>
</footer>