<header>
    <nav>
        <img id="logo" src="/Assets/full_logo_white.png" alt="logo" width="100" height="80"/>
            <ul>
                <li><a href="/users">Users</a></li>
                <li><a href="/schedules">Schedules</a></li>
                <li><a href="/users/new">New User</a></li>
                <li><a href="/schedules/new">New Schedule</a></li>
            </ul>  
    </nav>
</header>