<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/header') %>

    <body>
        <h2>Welcome to our schedule website</h2>   
    </body>

    <%- include('../includes/footer') %>

</html>