<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head') %>

    <body>
        <%- include('../includes/header') %>

        <main>
            <h1>Enter user details</h1>   

            <form novaidate class="contact-form" id="userForm" method="POST" action="/users">
    
                <div class="field">
                    <label>First Name *</label>
                    <input id="firstname" type="text" name="firstname" required />
                    <div class="error" id="firstNameErr"></div>
                </div>
    
                <div class="field">
                    <label for="lastname">Last Name *</label>
                    <input id="lastname" type="text" name="lastname" required />
                    <div class="error" id="lastNameErr"></div>
                </div>
    
                <div class="field">
                    <label>Email *</label>
                    <input id="email" type="text" name="email" required />
                    <div class="error" id="emailErr"></div>
                </div>
                
                <div class="field">
                    <label>Password *</label> 
                    <input id="password" type="password" name="password" required />
                    <div class="error" id="pwdErr"></div>
                </div>
    
                <div class="center-button">
                    <button class="btn" id="userButton" type="submit">Submit</button>
                </div>
            </form>
        </main>
        
        
        <%- include('../includes/footer') %>
        <script type="text/javascript" src="../js/userFormValidation.js" defer ></script>

    </body>
 

</html>